.containerListCartelera {
  margin: 100px 15%;
}
.searchSection {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.searchInput {
  width: 100%;
  height: 35px;
  bottom: 0;
}
.selectInput {
  width: fit-content;
}

.bannerSection {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  grid-template-rows: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.description > p,
.description > span {
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.des {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .searchSection {
    flex-direction: column;
    align-items: center;
  }
}
