.banner {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 25px 27px 31px -10px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 25px 27px 31px -10px rgba(0, 0, 0, 0.44);
  box-shadow: 25px 27px 31px -10px rgba(0, 0, 0, 0.44);
  margin-top: 1rem;
  transition: 0.3s;
}

.banner:hover {
  transform: translateY(-3px);
}

.movies {
  width: 100%;
  display: flex;
  grid-template-rows: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  padding: 0;
  padding-top: 20px;
}
.details {
  gap: 2rem;
  justify-content: center;
  flex-wrap: nowrap;
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
}
.details li {
  list-style: none;
}

.details li h4 {
  overflow: visible;
}

.movie {
  width: 250px;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2.5rem;
  width: 100%;
}
.movie h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.movies a {
  text-decoration: none;
  color: black;
}
.movies a :hover {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  .details {
    flex-direction: column;
    align-items: center;
  }
}
