.banner {
  width: 100%;
  height: 100%;

  border-radius: 5px;
  -webkit-box-shadow: 25px 27px 31px -10px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 25px 27px 31px -10px rgba(0, 0, 0, 0.44);
  box-shadow: 25px 27px 31px -10px rgba(0, 0, 0, 0.44);

  transition: .3s;
}

.banner:hover{
      transform: translateY(-3px)
      
}